職位匹配程度估算器.yml
app:
  description: '您好，請填入履歷與工作職位描述( Job Description)


    *履歷請填入cv欄位

    *工作職位描述若為文字，請填入jdText欄位

    *工作職位描述若為網址，請填入jdURL欄位'
  icon: 🤖
  icon_background: '#E0F2FE'
  mode: workflow
  name: 職位匹配程度估算器
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/firecrawl:0.0.3@02f037a6e82c44103d3604456f8e57b5516464183344f32d74eec3f82d6036b0
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.10@7ca552fb9e48caa4deddfdef5aa71c200d06d03c26c2e8bb428b3250101b9cb3
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1773460176442-source-1773460917451-target
      source: '1773460176442'
      sourceHandle: source
      target: '1773460917451'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: document-extractor
      id: 1773460176442--1773464607292-target
      source: '1773460176442'
      sourceHandle: source
      target: '1773464607292'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1773460185106-source-1773460188717-target
      source: '1773460185106'
      sourceHandle: source
      target: '1773460188717'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1773460917451-source-1773460185106-target
      source: '1773460917451'
      sourceHandle: source
      target: '1773460185106'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: document-extractor
        targetType: llm
      id: 1773464607292-source-1773460185106-target
      source: '1773464607292'
      sourceHandle: source
      target: '1773460185106'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - image
          - document
          allowed_file_upload_methods:
          - local_file
          default: ''
          hint: ''
          label: 履歷
          options: []
          placeholder: ''
          required: true
          type: file
          variable: cv
        - default: ''
          hint: ''
          label: Job Description (文字)
          max_length: 5000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: jdText
        - default: ''
          hint: ''
          label: Job Description (網址)
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: jdURL
      height: 160
      id: '1773460176442'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1773460176442'
          - cv
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5-chat-latest
          provider: langgenius/openai/openai
        prompt_template:
        - id: a4014320-a82d-4333-b7e6-9d7aa3e36f39
          role: system
          text: "你是一位專業的人力資源顧問，請根據產用者提供的履歷及職位描述產出職位匹配報告：\n(履歷請參考{{#1773464607292.text#}}\n\
            職位描述請參考{{#1773460917451.text#}}或{{#1773460176442.jdText#}})\n\n請執行以下分析：\
            \ \n* 計算匹配分數。 \n*所需技能檢核表(檢核用戶是否擁有此工作所與須之技能)\n* 列出核心優勢與技能缺口。 \n* 提供具體的補強建議。\n"
        selected: false
        title: LLM
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '1773460176442'
            - pdfjpg
          enabled: true
      height: 87
      id: '1773460185106'
      position:
        x: 1044.5930378713495
        y: 211.45953585714665
      positionAbsolute:
        x: 1044.5930378713495
        y: 211.45953585714665
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        outputs:
        - value_selector:
          - '1773460185106'
          - text
          value_type: string
          variable: text
        selected: false
        title: 輸出
        type: end
      height: 87
      id: '1773460188717'
      position:
        x: 1349.897964377248
        y: 276.98705299736014
      positionAbsolute:
        x: 1349.897964377248
        y: 276.98705299736014
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The URL of the website to scrape and extract data from.
            ja_JP: The URL of the website to scrape and extract data from.
            pt_BR: The URL of the website to scrape and extract data from.
            zh_Hans: 要抓取并提取数据的网站URL。
          label:
            en_US: URL to scrape
            ja_JP: URL to scrape
            pt_BR: URL to scrape
            zh_Hans: 要抓取的URL
          llm_description: The URL of the website that needs to be crawled. This is
            a required parameter.
          max: null
          min: null
          name: url
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Formats to include in the output. Available options: markdown,
              html, rawHtml, links, screenshot, extract, screenshot@fullPage'
            ja_JP: 'Formats to include in the output. Available options: markdown,
              html, rawHtml, links, screenshot, extract, screenshot@fullPage'
            pt_BR: 'Formats to include in the output. Available options: markdown,
              html, rawHtml, links, screenshot, extract, screenshot@fullPage'
            zh_Hans: '输出中应包含的格式。可以填入: markdown, html, rawHtml, links, screenshot,
              extract, screenshot@fullPage'
          label:
            en_US: Formats
            ja_JP: Formats
            pt_BR: Formats
            zh_Hans: 结果的格式
          llm_description: ''
          max: null
          min: null
          name: formats
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: false
          form: form
          human_description:
            en_US: Only return the main content of the page excluding headers, navs,
              footers, etc.
            ja_JP: Only return the main content of the page excluding headers, navs,
              footers, etc.
            pt_BR: Only return the main content of the page excluding headers, navs,
              footers, etc.
            zh_Hans: 只返回页面的主要内容，不包括头部、导航栏、尾部等。
          label:
            en_US: only Main Content
            ja_JP: only Main Content
            pt_BR: only Main Content
            zh_Hans: 仅抓取主要内容
          llm_description: ''
          max: null
          min: null
          name: onlyMainContent
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Only include tags, classes and ids from the page in the final
              output. Use comma separated values. Example: script, .ad, #footer'
            ja_JP: 'Only include tags, classes and ids from the page in the final
              output. Use comma separated values. Example: script, .ad, #footer'
            pt_BR: 'Only include tags, classes and ids from the page in the final
              output. Use comma separated values. Example: script, .ad, #footer'
            zh_Hans: '仅在最终输出中包含HTML页面的这些标签，可以通过标签名、类或ID来设定，使用逗号分隔值。示例：script, .ad,
              #footer'
          label:
            en_US: Include Tags
            ja_JP: Include Tags
            pt_BR: Include Tags
            zh_Hans: 仅抓取这些标签
          llm_description: ''
          max: null
          min: null
          name: includeTags
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Tags, classes and ids to remove from the page. Use comma separated
              values. Example: script, .ad, #footer

              '
            ja_JP: 'Tags, classes and ids to remove from the page. Use comma separated
              values. Example: script, .ad, #footer

              '
            pt_BR: 'Tags, classes and ids to remove from the page. Use comma separated
              values. Example: script, .ad, #footer

              '
            zh_Hans: '要在最终输出中移除HTML页面的这些标签，可以通过标签名、类或ID来设定，使用逗号分隔值。示例：script, .ad,
              #footer

              '
          label:
            en_US: Exclude Tags
            ja_JP: Exclude Tags
            pt_BR: Exclude Tags
            zh_Hans: 要移除这些标签
          llm_description: ''
          max: null
          min: null
          name: excludeTags
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Headers to send with the request. Can be used to send cookies,
              user-agent, etc. Example: {"cookies": "testcookies"}'
            ja_JP: 'Headers to send with the request. Can be used to send cookies,
              user-agent, etc. Example: {"cookies": "testcookies"}'
            pt_BR: 'Headers to send with the request. Can be used to send cookies,
              user-agent, etc. Example: {"cookies": "testcookies"}'
            zh_Hans: '随请求发送的头部。可以用来发送cookies、用户代理等。示例：{"cookies": "testcookies"}'
          label:
            en_US: headers
            ja_JP: headers
            pt_BR: headers
            zh_Hans: 请求头
          llm_description: ''
          max: null
          min: null
          name: headers
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Wait x amount of milliseconds for the page to load to fetch content.
            ja_JP: Wait x amount of milliseconds for the page to load to fetch content.
            pt_BR: Wait x amount of milliseconds for the page to load to fetch content.
            zh_Hans: 等待x毫秒以使页面加载并获取内容。
          label:
            en_US: wait For
            ja_JP: wait For
            pt_BR: wait For
            zh_Hans: 等待时间
          llm_description: ''
          max: null
          min: 0
          name: waitFor
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 30000
          form: form
          human_description:
            en_US: Timeout in milliseconds for the request.
            ja_JP: Timeout in milliseconds for the request.
            pt_BR: Timeout in milliseconds for the request.
            zh_Hans: 请求的超时时间（以毫秒为单位）。
          label:
            en_US: Timeout
            ja_JP: Timeout
            pt_BR: Timeout
            zh_Hans: Timeout
          llm_description: ''
          max: null
          min: 0
          name: timeout
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: "The schema for the data to be extracted. Example: {\n    \"type\"\
              : \"object\",\n    \"properties\": {\"company_mission\": {\"type\":\
              \ \"string\"}},\n    \"required\": [\"company_mission\"]\n}\n"
            ja_JP: "The schema for the data to be extracted. Example: {\n    \"type\"\
              : \"object\",\n    \"properties\": {\"company_mission\": {\"type\":\
              \ \"string\"}},\n    \"required\": [\"company_mission\"]\n}\n"
            pt_BR: "The schema for the data to be extracted. Example: {\n    \"type\"\
              : \"object\",\n    \"properties\": {\"company_mission\": {\"type\":\
              \ \"string\"}},\n    \"required\": [\"company_mission\"]\n}\n"
            zh_Hans: "使用该结构去提取，示例：{\n     \"type\": \"object\",\n     \"properties\"\
              : {\"company_mission\": {\"type\": \"string\"}},\n     \"required\"\
              : [\"company_mission\"]\n }\n"
          label:
            en_US: Extractor Schema
            ja_JP: Extractor Schema
            pt_BR: Extractor Schema
            zh_Hans: 提取时的结构
          llm_description: ''
          max: null
          min: null
          name: schema
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The system prompt to use for the extraction.
            ja_JP: The system prompt to use for the extraction.
            pt_BR: The system prompt to use for the extraction.
            zh_Hans: 用于提取的系统提示。
          label:
            en_US: Extractor System Prompt
            ja_JP: Extractor System Prompt
            pt_BR: Extractor System Prompt
            zh_Hans: 提取时的系统提示词
          llm_description: ''
          max: null
          min: null
          name: systemPrompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The prompt to use for the extraction without a schema.
            ja_JP: The prompt to use for the extraction without a schema.
            pt_BR: The prompt to use for the extraction without a schema.
            zh_Hans: 用于无schema时提取的提示词
          label:
            en_US: Extractor Prompt
            ja_JP: Extractor Prompt
            pt_BR: Extractor Prompt
            zh_Hans: 提取时的提示词
          llm_description: ''
          max: null
          min: null
          name: prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          excludeTags: ''
          formats: ''
          headers: ''
          includeTags: ''
          onlyMainContent: ''
          prompt: ''
          schema: ''
          systemPrompt: ''
          timeout: ''
          url: ''
          waitFor: ''
        plugin_id: langgenius/firecrawl
        plugin_unique_identifier: langgenius/firecrawl:0.0.3@02f037a6e82c44103d3604456f8e57b5516464183344f32d74eec3f82d6036b0
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=978ab935-dd94-40c7-b5bc-0e63a2e2071e&filename=48e81335e9c5fb6275f29e7a019e774ece91f1f63daf4b3d375f03accce99b62.svg
        provider_id: langgenius/firecrawl/firecrawl
        provider_name: langgenius/firecrawl/firecrawl
        provider_type: builtin
        selected: false
        title: Scrape
        tool_configurations:
          excludeTags:
            type: mixed
            value: null
          formats:
            type: mixed
            value: null
          headers:
            type: mixed
            value: null
          includeTags:
            type: mixed
            value: null
          onlyMainContent:
            type: constant
            value: false
          prompt:
            type: mixed
            value: null
          schema:
            type: mixed
            value: null
          systemPrompt:
            type: mixed
            value: null
          timeout:
            type: constant
            value: 30000
          waitFor:
            type: constant
            value: 0
        tool_description: Turn any url into clean data.
        tool_label: Scrape
        tool_name: scrape
        tool_node_version: '2'
        tool_parameters:
          url:
            type: mixed
            value: '{{#1773460176442.jdURL#}}'
        type: tool
      height: 321
      id: '1773460917451'
      position:
        x: 417
        y: 252.98701671148865
      positionAbsolute:
        x: 417
        y: 252.98701671148865
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_array_file: false
        selected: false
        title: 文件提取器
        type: document-extractor
        variable_selector:
        - '1773460176442'
        - cv
      height: 103
      id: '1773464607292'
      position:
        x: 417
        y: 642
      positionAbsolute:
        x: 417
        y: 642
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -258.2184073545359
      y: 182.72569089751454
      zoom: 0.557820690197922
  rag_pipeline_variables: []
